<body>
    
    <div class="content">
        <header></header>
        <h1 class="center">Confirmation <span class="yellowtext">Page</span></span></h1>

        <div class="divcenter">
            <p>The number you entered: <br><span class="yellowtext"><%= @number %></span></p>
            <br>
            <p>The message you sent: <br><span class="yellowtext"><%= @message %></span></p>
        </div>
    <footer></footer>
    </div>
</body>